body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
}
.registration-form {
    margin: auto;
    width: 60%;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
